p,
div {
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 700;
}

.wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 300px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #222;
  background-color: #ffffff;
}

.form-wrapper > h2 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-bottom: 0.5em;
  margin-right: 00.5em;
  color: #000000;
  font-weight: 300;
}

input {
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #d6d1d5;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
}

button {
  min-width: 100%;
  max-height: 100%;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff7323;
  color: #ffffff;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
}
button:hover {
  background-color: #ffffff;
  color: #ff7323;
  border: 2px solid #ff7323;
}

.username,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  align-items: center;
}

.submit {
  width: 100%;
  padding-top: inherit;
  display: flex;
  flex-wrap: wrap;
}
