.App {
  position: absolute;
  min-height: 100vh;
  padding: 20px;
}

.App-signup {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: #000000;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 5vh;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  color: #000000;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #ff7323;
}

.App-link {
  color: #ff7323;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
  background-color: #ff7323;
  color: #ffffff;
}
